# Anime_Score_Sim
Purpose, to generate anime that are similar to other anime by cosine similarity. Compare the  results of cosine similarity via score, via user scaled score, and via anime scaled score. 
This outputs .csv files.

In [1]:
import pandas as pd

In [2]:
from sklearn.metrics.pairwise import cosine_similarity
from scipy import sparse
from scipy.sparse import csr_matrix

In [3]:
csvtoload = 'mal_scores_train_nonzero_v2.csv'# this is a subset of scores used for EDA and to design the system. Replace with a full csv, or to an sql database for the full dataset.

In [4]:
ratings = pd.read_csv(csvtoload) # This is a subset of reviews with all 0's dropped. 
ratings['userid']=ratings['index']
ratings['score']=ratings['animescore']

In [5]:
ratings1 = ratings[ratings['score']!=0] # this is a sanity check to ensure no 0's got into the system.

In [6]:
ratings1.head()

,Unnamed: 0,Unnamed: 0.1,animeid,animescore,index,name,status,unkey,userid,score,useravg,animeavg,score_anime_scaled,score_usr_scaled
0,0,13202,2001,10,Lancerevomr,Lancerevomr,COMPLETED,2001Lancerevomr,Lancerevomr,10,10.0,8.681996,1.318004,0.0
1,1,21990,10719,10,kuelpanda,kuelpanda,COMPLETED,10719kuelpanda,kuelpanda,10,9.5,7.535472,2.464528,0.5
2,2,21991,10155,9,kuelpanda,kuelpanda,COMPLETED,10155kuelpanda,kuelpanda,9,9.5,7.105895,1.894105,-0.5
3,3,22409,15051,10,vxxyman,vxxyman,COMPLETED,15051vxxyman,vxxyman,10,10.0,7.654129,2.345871,0.0
4,4,23792,1,10,pinheiro,pinheiro,COMPLETED,1pinheiro,pinheiro,10,10.0,8.804023,1.195977,0.0

In [7]:
ratings1.head()# checking our data

,Unnamed: 0,Unnamed: 0.1,animeid,animescore,index,name,status,unkey,userid,score,useravg,animeavg,score_anime_scaled,score_usr_scaled
0,0,13202,2001,10,Lancerevomr,Lancerevomr,COMPLETED,2001Lancerevomr,Lancerevomr,10,10.0,8.681996,1.318004,0.0
1,1,21990,10719,10,kuelpanda,kuelpanda,COMPLETED,10719kuelpanda,kuelpanda,10,9.5,7.535472,2.464528,0.5
2,2,21991,10155,9,kuelpanda,kuelpanda,COMPLETED,10155kuelpanda,kuelpanda,9,9.5,7.105895,1.894105,-0.5
3,3,22409,15051,10,vxxyman,vxxyman,COMPLETED,15051vxxyman,vxxyman,10,10.0,7.654129,2.345871,0.0
4,4,23792,1,10,pinheiro,pinheiro,COMPLETED,1pinheiro,pinheiro,10,10.0,8.804023,1.195977,0.0

In [8]:
#anime_pivot_table = ratings1.pivot_table(index='userid', columns = 'animeid',values='score_scaled')
# a pivot table  pandas function would be easier than what I do here but will run most systems out of memory.

In [9]:
users = ratings.userid.unique()
animes = ratings.animeid.unique()

In [10]:
userid2idx = {o:i for i,o in enumerate(users)} # turn the user strings into a numerical value. 
animeid2idx = {o:i for i,o in enumerate(animes)} # remove missing anime numbers and re-order

In [11]:
ratings1['anime_id'] = ratings1.animeid.apply(lambda x: animeid2idx[x]) #the above code set up mapping, this applies it. 
ratings1.userid = ratings1.userid.apply(lambda x: userid2idx[x])# the above code set up mapping, this applies it.

We are using these mapping to generate which row and column each username and anime_id will go into.

In [12]:


user_u = list(sorted(ratings1.animeid.unique()))
anime_id_u = list(sorted(ratings1.userid.unique()))

data = ratings1['score'].tolist() # Changing this line allows us to test score vs scaled score vs user scaled score
row = ratings1.userid.astype('category')
col = ratings1.anime_id.astype('category')
sparse_matrix = csr_matrix((data, (row, col)), shape=(len(users), len(animes)))

In [13]:
reviewmatrix =sparse_matrix.T

In [14]:
#col

In [15]:
#row

In [16]:
score_cos =cosine_similarity(reviewmatrix) # now we generatie our cosine of similarity

In [17]:
#animeinfo= pd.read_csv('animeinfo3.csv')
#animenames=pd.merge(ratings1,animeinfo,left_on='anime_id',right_on='animeid') #

In [18]:
#ratings1.sort_values('anime_id')

In [19]:
inv_map = {v: k for k, v in  animeid2idx.items()} # we have to make an inverse map of the which row/column number is what anime number.

In [20]:
anime_names = pd.read_csv('Data/animeinfo3.csv').set_index('animeid')['name'].to_dict() # Then we map out anime_id to anime name

In [21]:
anime_names[32878] # confirming that our mapping is correct by going to https://myanimelist.net/anime/32878

'ēlDLIVE'

In [22]:
anime_in_order = []

In [23]:
for  anime in list(inv_map.values()): # we are going through the inverse map, and making a list of the anime names in the row/column order. 
    try:
        anime_in_order.append(anime)
    except:
        anime_in_order.append('unknownanime'+str(anime)) # just in case an anime that I haven't gotten info on gets a review.

In [24]:
anime_in_order

[2001,
 10719,
 10155,
 15051,
 1,
 8074,
 11757,
 14741,
 5525,
 16011,
 10379,
 966,
 29786,
 2167,
 7193,
 226,
 11061,
 24833,
 263,
 33,
 12079,
 22535,
 28977,
 5114,
 12291,
 19815,
 23289,
 21,
 11321,
 30276,
 479,
 1275,
 440,
 30346,
 22693,
 31240,
 16498,
 15097,
 31173,
 4181,
 9253,
 4483,
 9513,
 28623,
 1735,
 15315,
 30307,
 12967,
 223,
 7592,
 22199,
 20,
 1535,
 18679,
 32686,
 1604,
 813,
 3470,
 32182,
 28755,
 6702,
 23283,
 3841,
 31680,
 32281,
 269,
 32962,
 20507,
 5391,
 777,
 20785,
 31338,
 14813,
 210,
 31245,
 412,
 6033,
 30240,
 1530,
 5262,
 3269,
 32995,
 2923,
 889,
 227,
 33089,
 27631,
 10620,
 8841,
 29803,
 47,
 33836,
 32587,
 2604,
 15809,
 28497,
 1827,
 1571,
 16067,
 31964,
 1639,
 3603,
 22877,
 384,
 28223,
 22043,
 22319,
 8516,
 1520,
 10079,
 10397,
 13759,
 270,
 21639,
 14753,
 2896,
 11001,
 33926,
 20583,
 15335,
 355,
 1210,
 6547,
 4898,
 32801,
 22101,
 28171,
 7054,
 19,
 16524,
 32935,
 1657,
 5530,
 24277,
 13601,
 12445,
 25397,
 320,
 2030,
 4224,
 457,
 31559,
 14713,
 31043,
 719,
 9367,
 3588,
 29093,
 4189,
 18153,
 343,
 11745,
 392,
 9776,
 249,
 59,
 27947,
 33506,
 44,
 19647,
 7748,
 3455,
 18897,
 3457,
 4752,
 1222,
 120,
 6421,
 6880,
 6793,
 31318,
 22297,
 7058,
 228,
 225,
 27775,
 199,
 21881,
 10408,
 11617,
 23847,
 33417,
 7593,
 333,
 10162,
 232,
 27899,
 185,
 9041,
 19769,
 30,
 23273,
 14131,
 15583,
 24405,
 15085,
 25777,
 27833,
 1482,
 356,
 5762,
 5682,
 30187,
 11111,
 323,
 877,
 4473,
 8769,
 170,
 23251,
 6746,
 121,
 10161,
 4186,
 16157,
 1575,
 874,
 1559,
 849,
 31174,
 31580,
 2432,
 34134,
 2025,
 31147,
 202,
 22135,
 967,
 9750,
 32245,
 30243,
 918,
 10456,
 12487,
 32729,
 233,
 34403,
 8634,
 28927,
 5568,
 32282,
 6127,
 10793,
 9008,
 1250,
 12477,
 193,
 2507,
 3342,
 19111,
 35330,
 31933,
 10396,
 34636,
 28825,
 28851,
 13325,
 19163,
 14513,
 23755,
 2413,
 9756,
 28701,
 857,
 74,
 134,
 1195,
 32998,
 33486,
 30015,
 1292,
 15037,
 28999,
 13271,
 1579,
 30778,
 239,
 1412,
 24703,
 31478,
 9989,
 25013,
 31859,
 5494,
 6213,
 7769,
 12373,
 6211,
 1887,
 24921,
 23247,
 368,
 17265,
 154,
 27503,
 12021,
 15843,
 30831,
 32899,
 136,
 143,
 3385,
 6682,
 18959,
 22147,
 24705,
 31630,
 3914,
 10357,
 21771,
 20847,
 1021,
 934,
 7,
 205,
 6287,
 9617,
 8476,
 3886,
 33489,
 34881,
 6594,
 21995,
 5835,
 2581,
 790,
 6875,
 527,
 11433,
 150,
 3656,
 1606,
 5041,
 459,
 6531,
 57,
 20787,
 9919,
 73,
 400,
 31772,
 68,
 2049,
 13655,
 6772,
 22789,
 33003,
 31430,
 12031,
 4155,
 33985,
 34383,
 6116,
 2904,
 6205,
 31646,
 33095,
 13125,
 5455,
 2034,
 10087,
 335,
 28121,
 11771,
 30694,
 2594,
 490,
 853,
 10458,
 1007,
 3572,
 34822,
 12467,
 30363,
 6590,
 72,
 2104,
 18115,
 6707,
 16894,
 3478,
 1726,
 189,
 521,
 17513,
 26243,
 1192,
 15605,
 32949,
 5244,
 16592,
 4063,
 14227,
 2372,
 66,
 101,
 28157,
 2993,
 2476,
 50,
 31798,
 4027,
 23233,
 10490,
 25839,
 34103,
 43,
 15993,
 2344,
 2251,
 14941,
 33203,
 31080,
 32105,
 6987,
 3464,
 1254,
 14093,
 3861,
 34176,
 25731,
 33573,
 23135,
 5671,
 15061,
 21507,
 3681,
 28249,
 28677,
 747,
 5042,
 23321,
 11843,
 9761,
 198,
 67,
 20159,
 10790,
 32615,
 31560,
 22865,
 17491,
 32668,
 18753,
 24415,
 31251,
 30230,
 9926,
 32484,
 195,
 467,
 20973,
 28805,
 12531,
 10572,
 627,
 32664,
 32887,
 6774,
 5259,
 25681,
 6347,
 7870,
 11887,
 13367,
 33142,
 6535,
 33036,
 31637,
 10033,
 6045,
 123,
 3731,
 18507,
 5678,
 14349,
 12883,
 18893,
 31490,
 30544,
 71,
 28735,
 5784,
 1689,
 28,
 8918,
 22729,
 27655,
 32152,
 724,
 487,
 24765,
 3324,
 7724,
 160,
 61,
 481,
 23285,
 357,
 935,
 1583,
 5680,
 3062,
 14289,
 21105,
 2593,
 9308,
 23985,
 4896,
 23623,
 84,
 6,
 34096,
 20031,
 31658,
 3995,
 25159,
 2158,
 33028,
 3594,
 31783,
 8525,
 240,
 5060,
 19221,
 245,
 746,
 10156,
 12729,
 21185,
 142,
 334,
 18671,
 1728,
 34177,
 4744,
 14837,
 5143,
 21177,
 17389,
 2889,
 33302,
 2418,
 32494,
 2020,
 18661,
 24151,
 33475,
 5681,
 5421,
 16287,
 6572,
 9330,
 18001,
 2403,
 94,
 665,
 6163,
 6500,
 2404,
 24455,
 486,
 11013,
 9999,
 820,
 9441,
 5505,
 11979,
 31405,
 28479,
 32370,
 4082,
 14543,
 2966,
 10213,
 122,
 6024,
 387,
 1456,
 4190,
 247,
 1906,
 34561,
 3537,
 29575,
 7817,
 32951,
 6675,
 29758,
 32937,
 469,
 24,
 3335,
 530,
 168,
 248,
 33581,
 63,
 30911,
 759,
 81,
 1835,
 27,
 33988,
 17895,
 34051,
 5958,
 3448,
 22663,
 29027,
 93,
 14749,
 127,
 1744,
 1691,
 32828,
 31953,
 21431,
 33502,
 3701,
 79,
 7785,
 11633,
 32005,
 2140,
 16870,
 708,
 2531,
 1065,
 17247,
 31758,
 23587,
 442,
 14833,
 132,
 31763,
 9969,
 8460,
 4342,
 32379,
 9201,
 60,
 15417,
 22777,
 593,
 21167,
 135,
 217,
 21845,
 29089,
 22687,
 5342,
 11879,
 14467,
 30300,
 5355,
 21069,
 4654,
 4399,
 32936,
 18245,
 998,
 18277,
 28617,
 34152,
 25157,
 6956,
 33487,
 856,
 33654,
 2324,
 16782,
 24997,
 18857,
 32032,
 235,
 2852,
 30355,
 4725,
 4722,
 5458,
 3420,
 28891,
 32901,
 7674,
 34566,
 437,
 11285,
 15845,
 177,
 24655,
 8676,
 30123,
 5341,
 15451,
 5630,
 3923,
 14345,
 7337,
 279,
 3689,
 19365,
 23673,
 4970,
 32620,
 32542,
 28907,
 12149,
 3786,
 21843,
 513,
 19759,
 34262,
 16742,
 22673,
 32603,
 28817,
 34240,
 30016,
 20057,
 23327,
 32189,
 1012,
 31442,
 8425,
 16099,
 58,
 16201,
 710,
 863,
 393,
 182,
 6007,
 14719,
 6591,
 552,
 29809,
 6622,
 4080,
 2148,
 19951,
 15225,
 19291,
 30503,
 573,
 11759,
 33834,
 100,
 431,
 721,
 32772,
 28619,
 33728,
 21751,
 1818,
 2969,
 3043,
 30415,
 25,
 1957,
 15,
 7972,
 2508,
 365,
 85,
 80,
 3840,
 7311,
 24133,
 12461,
 33075,
 16918,
 10110,
 20021,
 32214,
 579,
 218,
 34246,
 814,
 23777,
 12783,
 4382,
 33865,
 1498,
 31163,
 30654,
 25687,
 174,
 2191,
 2216,
 3550,
 10779,
 250,
 6166,
 9863,
 31737,
 4304,
 29976,
 10465,
 16353,
 164,
 339,
 10321,
 24135,
 8407,
 32518,
 2267,
 31704,
 33051,
 2924,
 3784,
 11741,
 10165,
 6114,
 1911,
 27663,
 28297,
 14353,
 18689,
 22265,
 22507,
 186,
 187,
 11371,
 22,
 18397,
 21879,
 5,
 133,
 512,
 2248,
 2472,
 687,
 19429,
 9117,
 11235,
 12669,
 11266,
 10030,
 12365,
 30137,
 14967,
 32365,
 4975,
 10800,
 14397,
 18745,
 34675,
 23237,
 16934,
 11703,
 9479,
 30127,
 8915,
 12879,
 7338,
 6573,
 9379,
 10638,
 376,
 32696,
 23079,
 24695,
 5150,
 6882,
 6372,
 30991,
 12189,
 13469,
 6610,
 7088,
 20457,
 5231,
 6811,
 21327,
 29785,
 26441,
 10372,
 30709,
 3958,
 145,
 17741,
 2927,
 31091,
 32380,
 15379,
 5079,
 21863,
 330,
 30384,
 30014,
 2926,
 30347,
 31722,
 4437,
 6325,
 10589,
 4081,
 33690,
 31764,
 31404,
 31414,
 6512,
 34148,
 31143,
 12355,
 7079,
 31621,
 24211,
 31223,
 33091,
 21325,
 23309,
 14921,
 32262,
 31716,
 34126,
 1699,
 11499,
 31229,
 18119,
 31374,
 7662,
 33433,
 11577,
 10863,
 30321,
 21647,
 19117,
 8937,
 10249,
 21353,
 30458,
 33589,
 861,
 3091,
 4591,
 8861,
 11319,
 1840,
 3712,
 14075,
 5300,
 16035,
 21603,
 10020,
 9332,
 33731,
 2952,
 31234,
 16001,
 4472,
 31540,
 25835,
 20449,
 109,
 4901,
 1519,
 1490,
 570,
 19369,
 23281,
 14515,
 17909,
 12317,
 3230,
 13667,
 1313,
 1132,
 859,
 34427,
 34290,
 34104,
 12281,
 32555,
 29589,
 14829,
 27525,
 20509,
 31706,
 19109,
 18851,
 27821,
 15863,
 33024,
 21273,
 29787,
 19319,
 24625,
 30533,
 18247,
 10794,
 16668,
 16706,
 19685,
 92,
 15437,
 10209,
 20745,
 28013,
 ...]

In [25]:
rev1_sim_cos_df = pd.DataFrame(score_cos, index=anime_in_order , columns=anime_in_order)

In [56]:
rev1_sim_cos_df.head()

,2001,10719,10155,15051,1,8074,11757,14741,5525,16011,...,29283,17825,25623,34852,25597,29361,25871,30468,22493,14207
2001,1.000000,0.262517,0.149805,0.153384,0.406437,0.339543,0.361834,0.292844,0.117722,0.179530,...,0.002520,0.0,0.0,0.0,0.0,0.005670,0.0,0.0,0.0,0.0
10719,0.262517,1.000000,0.261582,0.221942,0.167863,0.378653,0.367601,0.450414,0.111146,0.308265,...,0.008814,0.0,0.0,0.0,0.0,0.005876,0.0,0.0,0.0,0.0
10155,0.149805,0.261582,1.000000,0.138804,0.086168,0.201043,0.185011,0.215420,0.133285,0.227624,...,0.019353,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
15051,0.153384,0.221942,0.138804,1.000000,0.099055,0.162902,0.212074,0.277650,0.056914,0.137558,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
1,0.406437,0.167863,0.086168,0.099055,1.000000,0.246013,0.259522,0.196765,0.093725,0.101847,...,0.006247,0.0,0.0,0.0,0.0,0.006247,0.0,0.0,0.0,0.0

In [26]:
rev1_sim_cos_df.to_csv('reviewsim_prod.csv')

In [27]:
rev1_sim_cos_df.loc[:,'Girls und Panzer'].sort_values()[-20:]

KeyError: 'the label [Girls und Panzer] is not in the [columns]'

In [ ]:
rev1_sim_cos_df.loc[:,'Death Note'].sort_values()[-20:]

In [ ]:
rev1_sim_cos_df.loc[:,'Bakemonogatari'].sort_values()[-20:]

In [ ]:
rev1_sim_cos_df.loc[:,'Sword Art Online'].sort_values()[-20:]

In [ ]:
rev1_sim_cos_df.loc[:,'Sword Art Online'].sort_values()[-20:]

In [28]:


user_u = list(sorted(ratings1.animeid.unique()))
anime_id_u = list(sorted(ratings1.userid.unique()))

data = ratings1['score_anime_scaled'].tolist() # Changing this line allows us to test score vs scaled score vs user scaled score
row = ratings1.userid.astype('category')
col = ratings1.anime_id.astype('category')
sparse_matrix = csr_matrix((data, (row, col)), shape=(len(users), len(animes)))

In [29]:
reviewmatrix =sparse_matrix.T

In [30]:
#col

In [31]:
#row

In [32]:
score_cos =cosine_similarity(reviewmatrix) # now we generatie our cosine of similarity

In [33]:
#animeinfo= pd.read_csv('animeinfo3.csv')
#animenames=pd.merge(ratings1,animeinfo,left_on='anime_id',right_on='animeid') #

In [34]:
#ratings1.sort_values('anime_id')

In [35]:
inv_map = {v: k for k, v in  animeid2idx.items()} # we have to make an inverse map of the which row/column number is what anime number.

In [36]:
anime_names = pd.read_csv('Data/animeinfo3.csv').set_index('animeid')['name'].to_dict() # Then we map out anime_id to anime name

In [37]:
anime_names[32878] # confirming that our mapping is correct by going to https://myanimelist.net/anime/32878

'ēlDLIVE'

In [38]:
anime_in_order = []

In [39]:
for  anime in list(inv_map.values()): # we are going through the inverse map, and making a list of the anime names in the row/column order. 
    try:
        anime_in_order.append(anime)
    except:
        anime_in_order.append('unknownanime'+str(anime))

In [40]:
anime_in_order

[2001,
 10719,
 10155,
 15051,
 1,
 8074,
 11757,
 14741,
 5525,
 16011,
 10379,
 966,
 29786,
 2167,
 7193,
 226,
 11061,
 24833,
 263,
 33,
 12079,
 22535,
 28977,
 5114,
 12291,
 19815,
 23289,
 21,
 11321,
 30276,
 479,
 1275,
 440,
 30346,
 22693,
 31240,
 16498,
 15097,
 31173,
 4181,
 9253,
 4483,
 9513,
 28623,
 1735,
 15315,
 30307,
 12967,
 223,
 7592,
 22199,
 20,
 1535,
 18679,
 32686,
 1604,
 813,
 3470,
 32182,
 28755,
 6702,
 23283,
 3841,
 31680,
 32281,
 269,
 32962,
 20507,
 5391,
 777,
 20785,
 31338,
 14813,
 210,
 31245,
 412,
 6033,
 30240,
 1530,
 5262,
 3269,
 32995,
 2923,
 889,
 227,
 33089,
 27631,
 10620,
 8841,
 29803,
 47,
 33836,
 32587,
 2604,
 15809,
 28497,
 1827,
 1571,
 16067,
 31964,
 1639,
 3603,
 22877,
 384,
 28223,
 22043,
 22319,
 8516,
 1520,
 10079,
 10397,
 13759,
 270,
 21639,
 14753,
 2896,
 11001,
 33926,
 20583,
 15335,
 355,
 1210,
 6547,
 4898,
 32801,
 22101,
 28171,
 7054,
 19,
 16524,
 32935,
 1657,
 5530,
 24277,
 13601,
 12445,
 25397,
 320,
 2030,
 4224,
 457,
 31559,
 14713,
 31043,
 719,
 9367,
 3588,
 29093,
 4189,
 18153,
 343,
 11745,
 392,
 9776,
 249,
 59,
 27947,
 33506,
 44,
 19647,
 7748,
 3455,
 18897,
 3457,
 4752,
 1222,
 120,
 6421,
 6880,
 6793,
 31318,
 22297,
 7058,
 228,
 225,
 27775,
 199,
 21881,
 10408,
 11617,
 23847,
 33417,
 7593,
 333,
 10162,
 232,
 27899,
 185,
 9041,
 19769,
 30,
 23273,
 14131,
 15583,
 24405,
 15085,
 25777,
 27833,
 1482,
 356,
 5762,
 5682,
 30187,
 11111,
 323,
 877,
 4473,
 8769,
 170,
 23251,
 6746,
 121,
 10161,
 4186,
 16157,
 1575,
 874,
 1559,
 849,
 31174,
 31580,
 2432,
 34134,
 2025,
 31147,
 202,
 22135,
 967,
 9750,
 32245,
 30243,
 918,
 10456,
 12487,
 32729,
 233,
 34403,
 8634,
 28927,
 5568,
 32282,
 6127,
 10793,
 9008,
 1250,
 12477,
 193,
 2507,
 3342,
 19111,
 35330,
 31933,
 10396,
 34636,
 28825,
 28851,
 13325,
 19163,
 14513,
 23755,
 2413,
 9756,
 28701,
 857,
 74,
 134,
 1195,
 32998,
 33486,
 30015,
 1292,
 15037,
 28999,
 13271,
 1579,
 30778,
 239,
 1412,
 24703,
 31478,
 9989,
 25013,
 31859,
 5494,
 6213,
 7769,
 12373,
 6211,
 1887,
 24921,
 23247,
 368,
 17265,
 154,
 27503,
 12021,
 15843,
 30831,
 32899,
 136,
 143,
 3385,
 6682,
 18959,
 22147,
 24705,
 31630,
 3914,
 10357,
 21771,
 20847,
 1021,
 934,
 7,
 205,
 6287,
 9617,
 8476,
 3886,
 33489,
 34881,
 6594,
 21995,
 5835,
 2581,
 790,
 6875,
 527,
 11433,
 150,
 3656,
 1606,
 5041,
 459,
 6531,
 57,
 20787,
 9919,
 73,
 400,
 31772,
 68,
 2049,
 13655,
 6772,
 22789,
 33003,
 31430,
 12031,
 4155,
 33985,
 34383,
 6116,
 2904,
 6205,
 31646,
 33095,
 13125,
 5455,
 2034,
 10087,
 335,
 28121,
 11771,
 30694,
 2594,
 490,
 853,
 10458,
 1007,
 3572,
 34822,
 12467,
 30363,
 6590,
 72,
 2104,
 18115,
 6707,
 16894,
 3478,
 1726,
 189,
 521,
 17513,
 26243,
 1192,
 15605,
 32949,
 5244,
 16592,
 4063,
 14227,
 2372,
 66,
 101,
 28157,
 2993,
 2476,
 50,
 31798,
 4027,
 23233,
 10490,
 25839,
 34103,
 43,
 15993,
 2344,
 2251,
 14941,
 33203,
 31080,
 32105,
 6987,
 3464,
 1254,
 14093,
 3861,
 34176,
 25731,
 33573,
 23135,
 5671,
 15061,
 21507,
 3681,
 28249,
 28677,
 747,
 5042,
 23321,
 11843,
 9761,
 198,
 67,
 20159,
 10790,
 32615,
 31560,
 22865,
 17491,
 32668,
 18753,
 24415,
 31251,
 30230,
 9926,
 32484,
 195,
 467,
 20973,
 28805,
 12531,
 10572,
 627,
 32664,
 32887,
 6774,
 5259,
 25681,
 6347,
 7870,
 11887,
 13367,
 33142,
 6535,
 33036,
 31637,
 10033,
 6045,
 123,
 3731,
 18507,
 5678,
 14349,
 12883,
 18893,
 31490,
 30544,
 71,
 28735,
 5784,
 1689,
 28,
 8918,
 22729,
 27655,
 32152,
 724,
 487,
 24765,
 3324,
 7724,
 160,
 61,
 481,
 23285,
 357,
 935,
 1583,
 5680,
 3062,
 14289,
 21105,
 2593,
 9308,
 23985,
 4896,
 23623,
 84,
 6,
 34096,
 20031,
 31658,
 3995,
 25159,
 2158,
 33028,
 3594,
 31783,
 8525,
 240,
 5060,
 19221,
 245,
 746,
 10156,
 12729,
 21185,
 142,
 334,
 18671,
 1728,
 34177,
 4744,
 14837,
 5143,
 21177,
 17389,
 2889,
 33302,
 2418,
 32494,
 2020,
 18661,
 24151,
 33475,
 5681,
 5421,
 16287,
 6572,
 9330,
 18001,
 2403,
 94,
 665,
 6163,
 6500,
 2404,
 24455,
 486,
 11013,
 9999,
 820,
 9441,
 5505,
 11979,
 31405,
 28479,
 32370,
 4082,
 14543,
 2966,
 10213,
 122,
 6024,
 387,
 1456,
 4190,
 247,
 1906,
 34561,
 3537,
 29575,
 7817,
 32951,
 6675,
 29758,
 32937,
 469,
 24,
 3335,
 530,
 168,
 248,
 33581,
 63,
 30911,
 759,
 81,
 1835,
 27,
 33988,
 17895,
 34051,
 5958,
 3448,
 22663,
 29027,
 93,
 14749,
 127,
 1744,
 1691,
 32828,
 31953,
 21431,
 33502,
 3701,
 79,
 7785,
 11633,
 32005,
 2140,
 16870,
 708,
 2531,
 1065,
 17247,
 31758,
 23587,
 442,
 14833,
 132,
 31763,
 9969,
 8460,
 4342,
 32379,
 9201,
 60,
 15417,
 22777,
 593,
 21167,
 135,
 217,
 21845,
 29089,
 22687,
 5342,
 11879,
 14467,
 30300,
 5355,
 21069,
 4654,
 4399,
 32936,
 18245,
 998,
 18277,
 28617,
 34152,
 25157,
 6956,
 33487,
 856,
 33654,
 2324,
 16782,
 24997,
 18857,
 32032,
 235,
 2852,
 30355,
 4725,
 4722,
 5458,
 3420,
 28891,
 32901,
 7674,
 34566,
 437,
 11285,
 15845,
 177,
 24655,
 8676,
 30123,
 5341,
 15451,
 5630,
 3923,
 14345,
 7337,
 279,
 3689,
 19365,
 23673,
 4970,
 32620,
 32542,
 28907,
 12149,
 3786,
 21843,
 513,
 19759,
 34262,
 16742,
 22673,
 32603,
 28817,
 34240,
 30016,
 20057,
 23327,
 32189,
 1012,
 31442,
 8425,
 16099,
 58,
 16201,
 710,
 863,
 393,
 182,
 6007,
 14719,
 6591,
 552,
 29809,
 6622,
 4080,
 2148,
 19951,
 15225,
 19291,
 30503,
 573,
 11759,
 33834,
 100,
 431,
 721,
 32772,
 28619,
 33728,
 21751,
 1818,
 2969,
 3043,
 30415,
 25,
 1957,
 15,
 7972,
 2508,
 365,
 85,
 80,
 3840,
 7311,
 24133,
 12461,
 33075,
 16918,
 10110,
 20021,
 32214,
 579,
 218,
 34246,
 814,
 23777,
 12783,
 4382,
 33865,
 1498,
 31163,
 30654,
 25687,
 174,
 2191,
 2216,
 3550,
 10779,
 250,
 6166,
 9863,
 31737,
 4304,
 29976,
 10465,
 16353,
 164,
 339,
 10321,
 24135,
 8407,
 32518,
 2267,
 31704,
 33051,
 2924,
 3784,
 11741,
 10165,
 6114,
 1911,
 27663,
 28297,
 14353,
 18689,
 22265,
 22507,
 186,
 187,
 11371,
 22,
 18397,
 21879,
 5,
 133,
 512,
 2248,
 2472,
 687,
 19429,
 9117,
 11235,
 12669,
 11266,
 10030,
 12365,
 30137,
 14967,
 32365,
 4975,
 10800,
 14397,
 18745,
 34675,
 23237,
 16934,
 11703,
 9479,
 30127,
 8915,
 12879,
 7338,
 6573,
 9379,
 10638,
 376,
 32696,
 23079,
 24695,
 5150,
 6882,
 6372,
 30991,
 12189,
 13469,
 6610,
 7088,
 20457,
 5231,
 6811,
 21327,
 29785,
 26441,
 10372,
 30709,
 3958,
 145,
 17741,
 2927,
 31091,
 32380,
 15379,
 5079,
 21863,
 330,
 30384,
 30014,
 2926,
 30347,
 31722,
 4437,
 6325,
 10589,
 4081,
 33690,
 31764,
 31404,
 31414,
 6512,
 34148,
 31143,
 12355,
 7079,
 31621,
 24211,
 31223,
 33091,
 21325,
 23309,
 14921,
 32262,
 31716,
 34126,
 1699,
 11499,
 31229,
 18119,
 31374,
 7662,
 33433,
 11577,
 10863,
 30321,
 21647,
 19117,
 8937,
 10249,
 21353,
 30458,
 33589,
 861,
 3091,
 4591,
 8861,
 11319,
 1840,
 3712,
 14075,
 5300,
 16035,
 21603,
 10020,
 9332,
 33731,
 2952,
 31234,
 16001,
 4472,
 31540,
 25835,
 20449,
 109,
 4901,
 1519,
 1490,
 570,
 19369,
 23281,
 14515,
 17909,
 12317,
 3230,
 13667,
 1313,
 1132,
 859,
 34427,
 34290,
 34104,
 12281,
 32555,
 29589,
 14829,
 27525,
 20509,
 31706,
 19109,
 18851,
 27821,
 15863,
 33024,
 21273,
 29787,
 19319,
 24625,
 30533,
 18247,
 10794,
 16668,
 16706,
 19685,
 92,
 15437,
 10209,
 20745,
 28013,
 ...]

In [41]:
anime_rev_sim_cos_df = pd.DataFrame(score_cos, index=anime_in_order , columns=anime_in_order)
anime_rev_sim_cos_df.to_csv('anime_review_scaled_prod.csv')

In [ ]:
anime_rev_sim_cos_df.loc[:,'Girls und Panzer'].sort_values()[-20:]

In [ ]:
rev1_sim_cos_df.loc[:,'Death Note'].sort_values()[-20:]

In [ ]:
anime_rev_sim_cos_df.loc[:,'Bakemonogatari'].sort_values()[-20:]

In [ ]:
rev1_sim_cos_df.loc[:,'Sword Art Online'].sort_values()[-20:]

In [ ]:
rev1_sim_cos_df.loc[:,'Sword Art Online'].sort_values()[-20:]

In [42]:


user_u = list(sorted(ratings1.animeid.unique()))
anime_id_u = list(sorted(ratings1.userid.unique()))

data = ratings1['score_usr_scaled'].tolist() # Changing this line allows us to test score vs scaled score vs user scaled score
row = ratings1.userid.astype('category')
col = ratings1.anime_id.astype('category')
sparse_matrix = csr_matrix((data, (row, col)), shape=(len(users), len(animes)))

In [43]:
reviewmatrix =sparse_matrix.T

In [44]:
#col

In [45]:
#row

In [46]:
score_cos =cosine_similarity(reviewmatrix) # now we generatie our cosine of similarity

In [47]:
#animeinfo= pd.read_csv('animeinfo3.csv')
#animenames=pd.merge(ratings1,animeinfo,left_on='anime_id',right_on='animeid') #

In [48]:
#ratings1.sort_values('anime_id')

In [49]:
inv_map = {v: k for k, v in  animeid2idx.items()} # we have to make an inverse map of the which row/column number is what anime number.

In [50]:
anime_names = pd.read_csv('Data/animeinfo3.csv').set_index('animeid')['name'].to_dict() # Then we map out anime_id to anime name

In [51]:
anime_names[32878] # confirming that our mapping is correct by going to https://myanimelist.net/anime/32878

'ēlDLIVE'

In [52]:
anime_in_order = []

In [53]:
for  anime in list(inv_map.values()): # we are going through the inverse map, and making a list of the anime names in the row/column order. 
    try:
        anime_in_order.append(anime)
    except:
        anime_in_order.append('unknownanime'+str(anime))

In [54]:
anime_in_order

[2001,
 10719,
 10155,
 15051,
 1,
 8074,
 11757,
 14741,
 5525,
 16011,
 10379,
 966,
 29786,
 2167,
 7193,
 226,
 11061,
 24833,
 263,
 33,
 12079,
 22535,
 28977,
 5114,
 12291,
 19815,
 23289,
 21,
 11321,
 30276,
 479,
 1275,
 440,
 30346,
 22693,
 31240,
 16498,
 15097,
 31173,
 4181,
 9253,
 4483,
 9513,
 28623,
 1735,
 15315,
 30307,
 12967,
 223,
 7592,
 22199,
 20,
 1535,
 18679,
 32686,
 1604,
 813,
 3470,
 32182,
 28755,
 6702,
 23283,
 3841,
 31680,
 32281,
 269,
 32962,
 20507,
 5391,
 777,
 20785,
 31338,
 14813,
 210,
 31245,
 412,
 6033,
 30240,
 1530,
 5262,
 3269,
 32995,
 2923,
 889,
 227,
 33089,
 27631,
 10620,
 8841,
 29803,
 47,
 33836,
 32587,
 2604,
 15809,
 28497,
 1827,
 1571,
 16067,
 31964,
 1639,
 3603,
 22877,
 384,
 28223,
 22043,
 22319,
 8516,
 1520,
 10079,
 10397,
 13759,
 270,
 21639,
 14753,
 2896,
 11001,
 33926,
 20583,
 15335,
 355,
 1210,
 6547,
 4898,
 32801,
 22101,
 28171,
 7054,
 19,
 16524,
 32935,
 1657,
 5530,
 24277,
 13601,
 12445,
 25397,
 320,
 2030,
 4224,
 457,
 31559,
 14713,
 31043,
 719,
 9367,
 3588,
 29093,
 4189,
 18153,
 343,
 11745,
 392,
 9776,
 249,
 59,
 27947,
 33506,
 44,
 19647,
 7748,
 3455,
 18897,
 3457,
 4752,
 1222,
 120,
 6421,
 6880,
 6793,
 31318,
 22297,
 7058,
 228,
 225,
 27775,
 199,
 21881,
 10408,
 11617,
 23847,
 33417,
 7593,
 333,
 10162,
 232,
 27899,
 185,
 9041,
 19769,
 30,
 23273,
 14131,
 15583,
 24405,
 15085,
 25777,
 27833,
 1482,
 356,
 5762,
 5682,
 30187,
 11111,
 323,
 877,
 4473,
 8769,
 170,
 23251,
 6746,
 121,
 10161,
 4186,
 16157,
 1575,
 874,
 1559,
 849,
 31174,
 31580,
 2432,
 34134,
 2025,
 31147,
 202,
 22135,
 967,
 9750,
 32245,
 30243,
 918,
 10456,
 12487,
 32729,
 233,
 34403,
 8634,
 28927,
 5568,
 32282,
 6127,
 10793,
 9008,
 1250,
 12477,
 193,
 2507,
 3342,
 19111,
 35330,
 31933,
 10396,
 34636,
 28825,
 28851,
 13325,
 19163,
 14513,
 23755,
 2413,
 9756,
 28701,
 857,
 74,
 134,
 1195,
 32998,
 33486,
 30015,
 1292,
 15037,
 28999,
 13271,
 1579,
 30778,
 239,
 1412,
 24703,
 31478,
 9989,
 25013,
 31859,
 5494,
 6213,
 7769,
 12373,
 6211,
 1887,
 24921,
 23247,
 368,
 17265,
 154,
 27503,
 12021,
 15843,
 30831,
 32899,
 136,
 143,
 3385,
 6682,
 18959,
 22147,
 24705,
 31630,
 3914,
 10357,
 21771,
 20847,
 1021,
 934,
 7,
 205,
 6287,
 9617,
 8476,
 3886,
 33489,
 34881,
 6594,
 21995,
 5835,
 2581,
 790,
 6875,
 527,
 11433,
 150,
 3656,
 1606,
 5041,
 459,
 6531,
 57,
 20787,
 9919,
 73,
 400,
 31772,
 68,
 2049,
 13655,
 6772,
 22789,
 33003,
 31430,
 12031,
 4155,
 33985,
 34383,
 6116,
 2904,
 6205,
 31646,
 33095,
 13125,
 5455,
 2034,
 10087,
 335,
 28121,
 11771,
 30694,
 2594,
 490,
 853,
 10458,
 1007,
 3572,
 34822,
 12467,
 30363,
 6590,
 72,
 2104,
 18115,
 6707,
 16894,
 3478,
 1726,
 189,
 521,
 17513,
 26243,
 1192,
 15605,
 32949,
 5244,
 16592,
 4063,
 14227,
 2372,
 66,
 101,
 28157,
 2993,
 2476,
 50,
 31798,
 4027,
 23233,
 10490,
 25839,
 34103,
 43,
 15993,
 2344,
 2251,
 14941,
 33203,
 31080,
 32105,
 6987,
 3464,
 1254,
 14093,
 3861,
 34176,
 25731,
 33573,
 23135,
 5671,
 15061,
 21507,
 3681,
 28249,
 28677,
 747,
 5042,
 23321,
 11843,
 9761,
 198,
 67,
 20159,
 10790,
 32615,
 31560,
 22865,
 17491,
 32668,
 18753,
 24415,
 31251,
 30230,
 9926,
 32484,
 195,
 467,
 20973,
 28805,
 12531,
 10572,
 627,
 32664,
 32887,
 6774,
 5259,
 25681,
 6347,
 7870,
 11887,
 13367,
 33142,
 6535,
 33036,
 31637,
 10033,
 6045,
 123,
 3731,
 18507,
 5678,
 14349,
 12883,
 18893,
 31490,
 30544,
 71,
 28735,
 5784,
 1689,
 28,
 8918,
 22729,
 27655,
 32152,
 724,
 487,
 24765,
 3324,
 7724,
 160,
 61,
 481,
 23285,
 357,
 935,
 1583,
 5680,
 3062,
 14289,
 21105,
 2593,
 9308,
 23985,
 4896,
 23623,
 84,
 6,
 34096,
 20031,
 31658,
 3995,
 25159,
 2158,
 33028,
 3594,
 31783,
 8525,
 240,
 5060,
 19221,
 245,
 746,
 10156,
 12729,
 21185,
 142,
 334,
 18671,
 1728,
 34177,
 4744,
 14837,
 5143,
 21177,
 17389,
 2889,
 33302,
 2418,
 32494,
 2020,
 18661,
 24151,
 33475,
 5681,
 5421,
 16287,
 6572,
 9330,
 18001,
 2403,
 94,
 665,
 6163,
 6500,
 2404,
 24455,
 486,
 11013,
 9999,
 820,
 9441,
 5505,
 11979,
 31405,
 28479,
 32370,
 4082,
 14543,
 2966,
 10213,
 122,
 6024,
 387,
 1456,
 4190,
 247,
 1906,
 34561,
 3537,
 29575,
 7817,
 32951,
 6675,
 29758,
 32937,
 469,
 24,
 3335,
 530,
 168,
 248,
 33581,
 63,
 30911,
 759,
 81,
 1835,
 27,
 33988,
 17895,
 34051,
 5958,
 3448,
 22663,
 29027,
 93,
 14749,
 127,
 1744,
 1691,
 32828,
 31953,
 21431,
 33502,
 3701,
 79,
 7785,
 11633,
 32005,
 2140,
 16870,
 708,
 2531,
 1065,
 17247,
 31758,
 23587,
 442,
 14833,
 132,
 31763,
 9969,
 8460,
 4342,
 32379,
 9201,
 60,
 15417,
 22777,
 593,
 21167,
 135,
 217,
 21845,
 29089,
 22687,
 5342,
 11879,
 14467,
 30300,
 5355,
 21069,
 4654,
 4399,
 32936,
 18245,
 998,
 18277,
 28617,
 34152,
 25157,
 6956,
 33487,
 856,
 33654,
 2324,
 16782,
 24997,
 18857,
 32032,
 235,
 2852,
 30355,
 4725,
 4722,
 5458,
 3420,
 28891,
 32901,
 7674,
 34566,
 437,
 11285,
 15845,
 177,
 24655,
 8676,
 30123,
 5341,
 15451,
 5630,
 3923,
 14345,
 7337,
 279,
 3689,
 19365,
 23673,
 4970,
 32620,
 32542,
 28907,
 12149,
 3786,
 21843,
 513,
 19759,
 34262,
 16742,
 22673,
 32603,
 28817,
 34240,
 30016,
 20057,
 23327,
 32189,
 1012,
 31442,
 8425,
 16099,
 58,
 16201,
 710,
 863,
 393,
 182,
 6007,
 14719,
 6591,
 552,
 29809,
 6622,
 4080,
 2148,
 19951,
 15225,
 19291,
 30503,
 573,
 11759,
 33834,
 100,
 431,
 721,
 32772,
 28619,
 33728,
 21751,
 1818,
 2969,
 3043,
 30415,
 25,
 1957,
 15,
 7972,
 2508,
 365,
 85,
 80,
 3840,
 7311,
 24133,
 12461,
 33075,
 16918,
 10110,
 20021,
 32214,
 579,
 218,
 34246,
 814,
 23777,
 12783,
 4382,
 33865,
 1498,
 31163,
 30654,
 25687,
 174,
 2191,
 2216,
 3550,
 10779,
 250,
 6166,
 9863,
 31737,
 4304,
 29976,
 10465,
 16353,
 164,
 339,
 10321,
 24135,
 8407,
 32518,
 2267,
 31704,
 33051,
 2924,
 3784,
 11741,
 10165,
 6114,
 1911,
 27663,
 28297,
 14353,
 18689,
 22265,
 22507,
 186,
 187,
 11371,
 22,
 18397,
 21879,
 5,
 133,
 512,
 2248,
 2472,
 687,
 19429,
 9117,
 11235,
 12669,
 11266,
 10030,
 12365,
 30137,
 14967,
 32365,
 4975,
 10800,
 14397,
 18745,
 34675,
 23237,
 16934,
 11703,
 9479,
 30127,
 8915,
 12879,
 7338,
 6573,
 9379,
 10638,
 376,
 32696,
 23079,
 24695,
 5150,
 6882,
 6372,
 30991,
 12189,
 13469,
 6610,
 7088,
 20457,
 5231,
 6811,
 21327,
 29785,
 26441,
 10372,
 30709,
 3958,
 145,
 17741,
 2927,
 31091,
 32380,
 15379,
 5079,
 21863,
 330,
 30384,
 30014,
 2926,
 30347,
 31722,
 4437,
 6325,
 10589,
 4081,
 33690,
 31764,
 31404,
 31414,
 6512,
 34148,
 31143,
 12355,
 7079,
 31621,
 24211,
 31223,
 33091,
 21325,
 23309,
 14921,
 32262,
 31716,
 34126,
 1699,
 11499,
 31229,
 18119,
 31374,
 7662,
 33433,
 11577,
 10863,
 30321,
 21647,
 19117,
 8937,
 10249,
 21353,
 30458,
 33589,
 861,
 3091,
 4591,
 8861,
 11319,
 1840,
 3712,
 14075,
 5300,
 16035,
 21603,
 10020,
 9332,
 33731,
 2952,
 31234,
 16001,
 4472,
 31540,
 25835,
 20449,
 109,
 4901,
 1519,
 1490,
 570,
 19369,
 23281,
 14515,
 17909,
 12317,
 3230,
 13667,
 1313,
 1132,
 859,
 34427,
 34290,
 34104,
 12281,
 32555,
 29589,
 14829,
 27525,
 20509,
 31706,
 19109,
 18851,
 27821,
 15863,
 33024,
 21273,
 29787,
 19319,
 24625,
 30533,
 18247,
 10794,
 16668,
 16706,
 19685,
 92,
 15437,
 10209,
 20745,
 28013,
 ...]

In [55]:

user_rev_sim_cos_df = pd.DataFrame(score_cos, index=anime_in_order , columns=anime_in_order)
user_rev_sim_cos_df.to_csv('user_review_scaled_prod.csv')

In [ ]:
user_rev_sim_cos_df.loc[:,'Girls und Panzer'].sort_values()[-20:]

In [ ]:
rev1_sim_cos_df.loc[:,'Death Note'].sort_values()[-20:]

In [ ]:
user_rev_sim_cos_df.loc[:,'Bakemonogatari'].sort_values()[-20:]

In [ ]:
rev1_sim_cos_df.loc[:,'Sword Art Online'].sort_values()[-20:]

In [ ]:
rev1_sim_cos_df.loc[:,'Sword Art Online'].sort_values()[-20:]