In [1]:
import pandas as pd

In [2]:
review  = pd.read_csv('animeedascores.csv')

In [3]:
review.head()

,Unnamed: 0,Unnamed: 0.1,animeid,animescore,index,name,status,unkey
0,0,0,32878,0,palelion,palelion,CONSUMING,32878palelion
1,1,1,31964,0,palelion,palelion,CONSUMING,31964palelion
2,2,2,13367,0,palelion,palelion,CONSUMING,13367palelion
3,3,3,189,0,palelion,palelion,CONSUMING,189palelion
4,4,4,330,0,palelion,palelion,CONSUMING,330palelion

In [4]:
review.animeid.nunique()

11907

In [5]:
review.name.nunique()

90516

In [6]:
review.shape

(8989067, 8)